## Loading the dataset and basic exploration

In [1]:
import numpy as np
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm

from statsmodels.graphics.api import qqplot

In [2]:
df= pd.read_csv("sunspots.csv")
df.head(10)

   YEAR  SUNACTIVITY
0  1700          5.0
1  1701         11.0
2  1702         16.0
3  1703         23.0
4  1704         36.0
5  1705         58.0
6  1706         29.0
7  1707         20.0
8  1708         10.0
9  1709          8.0

In [3]:
print(sm.datasets.sunspots.NOTE)

::

    Number of Observations - 309 (Annual 1700 - 2008)
    Number of Variables - 1
    Variable name definitions::

        SUNACTIVITY - Number of sunspots for each year

    The data file contains a 'YEAR' variable that is not returned by load.

In [4]:
df.shape

(309, 2)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   YEAR         309 non-null    int64
 1   SUNACTIVITY  309 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 5.0 KB